#mainBody{
    background: black;
}
#mainBody h1{
    font-family: 'Franklin Gothic Medium';
    color: rgb(243, 240, 240);
    display: center;
    text-align: center;
    justify-content: center;
}

#mainBody img{
    opacity: 50%;
}


#pList form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    background-color: rgb(97, 116, 237);
    text-align: center;
    padding: 5px;
    list-style-position: inside;
    cursor: default;
    }

#MasterList h1{
    color: white;
}

#mainList{
    list-style: none;
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 14pt;
}

#completedList{
    list-style: none;
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 14pt;
    text-align: center;
    justify-content: center;
}

div h3{
    font-family: 'Franklin Gothic Medium';
    color: rgb(243, 240, 240);
    display: center;
    text-align: center;
    justify-content: center;
}

#wList form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    background-color: rgb(71, 85, 176);
    text-align: center;
    padding: 5px;
    list-style-position: inside;
    cursor: default;
    }

#sList form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    background-color: rgb(33, 40, 85);
    text-align: center;
    padding: 5px;
    list-style-position: inside;
    cursor: default;
}